<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">

                    <div class="d-flex justify-content-between">

                        <div class="logo">

                            <a href="index"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="" ></a>

                        </div>

                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>

                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item ">
                            <a href="index" class='sidebar-link'>
                                <i class="bi bi-award-fill"></i>
                                <span>Main</span>
                            </a>
                        </li>

                        <li class="sidebar-title">Menu</li>



                        <li class="sidebar-item active">
                            <a href="information" class='sidebar-link'>
                                <i class="bi bi-info-square"></i>
                                <span>Information</span>
                            </a>
                        </li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Theme1</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="info">Info</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="social">Social support</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="health">Health</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="gdp">Gdp</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="etc">Etc</a>
                                </li>
                                </ul>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Theme2</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="info2">Info</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="covid19">Covid-19</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="militarypower">Military power</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="illiteracyrate">literacy rate</a>
                                </li>
                                </ul>

                        <li class="sidebar-title">User</li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Authentication</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="authregister">Register</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="authforgotpassword">Forgot Password</a>
                                </li>
                            </ul>
                        </li>

                                                <li class="sidebar-title">Reference</li>
                        <li class="sidebar-item">
                            <a href="https://themewagon.com/" target='_blank' class='sidebar-link'>
                                <i class="bi bi-display"></i>
                                <span>Bootstrap</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="https://www.kaggle.com/mathurinache/world-happiness-report-20152021" target='_blank' class='sidebar-link'>
                                <i class="bi bi-file-earmark-arrow-down"></i>
                                <span>Dataset</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="https://worldhappiness.report/" target='_blank' class='sidebar-link'>
                                <i class="bi bi-journal"></i>
                                <span>HappinessReport</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
<!--==================================================================-->
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Information</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index">Main</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Information</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Basic card section start -->
                <section id="content-types">
                    <div class="row">



                    </div>
                </section>
                <!-- Basic Card types section end -->


                <!-- Groups section start -->
                <section id="groups">
<!--                   Nav start-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">소개</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home"
                                                role="tab" aria-controls="home" aria-selected="true">팀</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                                role="tab" aria-controls="profile" aria-selected="false">팀원</a>

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">
                                            <p class='my-2'><br>
                                            <div style="text-align : center;"><img src="{% static 'assets/images/logo/logo7.png' %}"></div>
                                            <h5> 팀명 : 거리두기 1단계 </h5>
팀명은 코로나 상황에서 줌으로만 만나 프로젝트를 진행하게 된 상황을 의미합니다.
또한, 친해지지만 서로에 대한 최소한의 예의를 갖추자는 의미를 담고 있습니다.
<br>저희가 선정한 데이터셋은 세계행복리포트이고, 프로젝트 주제는 어떤 요인이 행복에 가장 영향을 미치는가입니다.
이번 프로젝트를 통해 행복에 관련한 내용을 웹서버로 구축했습니다.<br>
                                                <a class="text-muted mb-0" href="https://www.kaggle.com/mathurinache/world-happiness-report-20152021" target='_blank'>https://www.kaggle.com/mathurinache/world-happiness-report-20152021</a>
</p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                            <br>
                                            <div class="card-content pb-4">
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="{% static 'assets/images/faces/seryeong.jpg' %}">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">이세령(PM)</h5>
                                        <span class="badge bg-light-primary">#통계 전공한</span>
                                        <span class="badge bg-light-secondary">#DB 구축 잘하고 싶은 </span>
                                        <span class="badge bg-light-success">#데이터를 잘 이용하고 싶은 </span>
                                        <span class="badge bg-light-danger">#바디감 있는 커피가 좋은</span>
                                        <span class="badge bg-light-warning">#ISTJ</span>

                                        <br>
                                        <a class="text-muted mb-0" href="mailto:leesa4350@gmail.com">leesa4350@gmail.com</a>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="{% static 'assets/images/faces/HyunJung2.png' %}">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">주현정</h5>
                                        <span class="badge bg-light-primary">#데이터분석</span>
                                        <span class="badge bg-light-secondary">#스페인어 </span>
                                        <span class="badge bg-light-success">#공부하는 </span>
                                        <span class="badge bg-light-danger">#통계학과</span>
                                        <span class="badge bg-light-warning">#반오십</span>
                                        <br>
                                        <a class="text-muted mb-0" href="mailto:juice8533@gmail.com">juice8533@gmail.com</a>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="{% static 'assets/images/faces/cheongmyeong2.jpg' %}">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">노청명</h5>
                                        <span class="badge bg-light-primary">#축구</span>
                                        <span class="badge bg-light-secondary">#장고재미있다ㅎ</span>
                                        <span class="badge bg-light-success">#현장강의 언제하지</span>
                                        <br>
                                        <a class="text-muted mb-0" href="mailto:cjdauddl93@gmail.com">cjdauddl93@gmail.com</a>
                                    </div>

                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="{% static 'assets/images/faces/Geonnyeong.png' %}">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">오건녕</h5>
                                        <span class="badge bg-light-primary">#제주</span>
                                        <span class="badge bg-light-secondary">#수영 </span>
                                        <span class="badge bg-light-success">#개발자꿈나무 </span>
                                        <span class="badge bg-light-danger">#부대찌개</span>
                                        <span class="badge bg-light-warning">#대주주</span>
                                        <br>
                                        <a class="text-muted mb-0" href="mailto:nyeong6533@gmail.com">nyeong6533@gmail.com</a>
                                    </div>

                                </div>

                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title">프로젝트 주제 및 개요</h4>
                                        <p class="card-text">
                                            프로젝트 주제는 무엇이 행복에 가장 큰 영향을 미치는가에 대해 의문을 가지고 요인을 분석했습니다. 2012년부터 발간하기 시작한 happiness 데이터를 2015년부터 2021년까지 자료수집 및 처리하여 대륙별로 GDP, social support, health 등의 변수를 시각화했습니다. 또한 관련 데이터, 국토의 크기, 인구수 그리고 군사력 데이터를 행복 데이터와 병합해 의미 있는 결과를 내고자 했습니다.

                                        </p>




                                    </d>
                                    <img class="card-img-bottom img-fluid" src="{% static 'assets/images/samples/happy.png' %}"
                                        alt="Card image cap" style="max-width: 100%; height: auto;">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row match-height">
                        <div class="col-12 mt-3 mb-1">
                            <h4 class="section-title text-uppercase">프로젝트 수행 방향</h4>
                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/first.png' %}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">주제 선정</h4>
                                            <p class="card-text">
                                                목적 :
                                                 어떤 요인이 행복에 가장 영향을 미치는가<br>
                                                - Theme1 : 행복리포트 속 데이터 분석<br>
                                                - Theme2 : 외부데이터와 행복지수 분석 ; Covid-19, PowerIndex, Literacy<br>
</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/second.png' %}"
                                            alt="Card image cap" />
                                        <div class="card-body">
                                            <h4 class="card-title">데이터 수집 및 전처리</h4>
                                            <p class="card-text">
                                                - 데이터 수집: Kaggle, 구글링, 크롤링<br>
                                                - 데이터 전처리 : 공통 변수 생성 및 칼럼명 통일, 결측치 처리, 데이터 표준화
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/third.png' %}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">데이터 분석</h4>
                                            <p class="card-text">
                                                - 상관관계 분석<br>
                                                - 요인분석<br>
                                                - 재범주화<br>
                                                - Regression<br>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/fourth.png' %}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">최종 결과</h4>
                                            <p class="card-text">
                                                - 행복에 가장 큰 영향을 미치는 요인 도출<br>
                                                - 데이터 시각화 : 지도, word cloud, highchart & plotly<br>
                                                - 웹서버 구축 : Django, Pythonanywhere
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
<!--==================================================================-->
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>