<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">

                    <div class="d-flex justify-content-between">

                        <div class="logo">

                            <a href="index"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset="" ></a>

                        </div>

                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>

                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item ">
                            <a href="index" class='sidebar-link'>
                                <i class="bi bi-award-fill"></i>
                                <span>Main</span>
                            </a>
                        </li>

                        <li class="sidebar-title">Menu</li>



                        <li class="sidebar-item">
                            <a href="information" class='sidebar-link'>
                                <i class="bi bi-info-square"></i>
                                <span>Information</span>
                            </a>
                        </li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Theme1</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="info">Info</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="social">Social support</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="health">Health</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="gdp">Gdp</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="etc">Etc</a>
                                </li>
                                </ul>
                        <li class="sidebar-item  has-sub active ">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Theme2</span>
                            </a>
                            <ul class="submenu active ">
                                <li class="submenu-item ">
                                    <a href="info2">Info</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="covid19">Covid-19</a>
                                </li>
                                <li class="submenu-item active ">
                                    <a href="militarypower">Military power</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="illiteracyrate">literacy rate</a>
                                </li>
                                </ul>

                        <li class="sidebar-title">User</li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Authentication</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="authregister">Register</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="authforgotpassword">Forgot Password</a>
                                </li>
                            </ul>
                        </li>

                                                <li class="sidebar-title">Reference</li>
                        <li class="sidebar-item">
                            <a href="https://themewagon.com/" target='_blank' class='sidebar-link'>
                                <i class="bi bi-display"></i>
                                <span>Bootstrap</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="https://www.kaggle.com/mathurinache/world-happiness-report-20152021" target='_blank' class='sidebar-link'>
                                <i class="bi bi-file-earmark-arrow-down"></i>
                                <span>Dataset</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="https://worldhappiness.report/" target='_blank' class='sidebar-link'>
                                <i class="bi bi-journal"></i>
                                <span>HappinessReport</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Military power</h3>
                                <p class="text-subtitle text-muted">국력</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="info2">Theme2</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Military power
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <section class="section">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">데이터 시각화</h4>
                            </div>
                            <div class="card-body">
                                <img src="{% static 'assets/images/samples/mp1.jpg' %}" class="card-img-top img-fluid"
                                         alt="singleminded"  >
                               <h5> <br>
군사력(Power Index)는 0.0000~1.0000의 범위를 가지고 있으며 가장 완벽한 PwrIndx는 0.0000이다. 하지만 이 데이터를 그대로 시각화에 사용했을 때 군사력이 강한 정도를 직관적으로 보이기 힘들기 때문에 1에서 PwrIndx를 빼서 가장 완벽한 군사력 수치를 1로 만들었다. 즉, 해당 값이 클수록 국가의 이론적 전투 능력은 더 강력하다.</h5>
                                {% autoescape off %}
                                <br><table class="table" style="table-layout: fixed">
                                <thead>
                                                    <tr>
                                                        <th><i class="bi bi-bar-chart-fill"></i> 연도별 군사력 지도</th>
                                                    </tr>
                                                </thead>
                                </table>
                                {{ plot_div1 }}
                                <i class="bi bi-chat-dots-fill"></i><h7> 2020년도와 2021년도의 Military power을 세계지도에 나타낸 그래프이다. 가장 군사력이 강한 국가순으로 45개국의 데이터를 사용하여 나타내었기 때문에 색이 아예 없는 국가들은 45위보다 이하인 국가들로 해석할 수 있다. 또한 대한민국을 포함한 동아시아 국가들과 러시아, 미국 등이 비교적 최상위권에 위치한 것을 확인할 수 있다.</h7>
                                <br><table class="table" style="table-layout: fixed">
                                <thead>
                                                    <tr>
                                                        <th><i class="bi bi-bar-chart-fill"></i> 2021 상위 10개국 군사력 </th>
                                                    </tr>
                                                </thead>
                                </table>
                                {{ plot_div2 }}
                                <i class="bi bi-chat-dots-fill"></i><h7> 군사력(Power Index)에서 가장 완벽한 PwrIndx는 0.0000이다. 하지만 이 데이터를 그대로 시각화에 사용했을 때 국력이 강한 정도를 직관적으로 보이기 힘들다. 그리하여 PwrIndx가 1보다 작은 상위 45개국을 선정하였고, PwrIndx를 1에서 빼서 가장 완벽한 국력 수치를 1로 만들었다. 즉, 이 45개국의 수정된 PwrIndx에서는 값이 클수록 국가의 이론적 전투 능력은 더 강력하다.<br>
2021년 기준, 군사력(Power Index)이 가장 센 10개의 나라를 막대그래프로 나타내었다. 핵 능력이 고려되지 않은 기존 수단을 기준으로 하기에 인적 자원이나 천연자원이 풍부한 나라들이 높은 순위에 오른 것을 볼 수 있다. <br></h7>
                                <table class="table" style="table-layout: fixed">
                                                <thead>
                                                    <tr>
                                                        <th><i class="bi bi-bar-chart-fill"></i> 국가면적과 군사력 산점도</th>
                                                        <th><i class="bi bi-bar-chart-fill" ></i> 인구수와 군사력 산점도</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% autoescape off %}
                                                        <td>{{ plot_div3 }}</td>
                                                        <td>{{ plot_div4 }}</td>
                                                        {% endautoescape %}

                                                    </tr>
                                                    <tr>
                                                        <td><i class="bi bi-chat-dots-fill"></i> 이 그래프는 국가면적과 군사력의 산점도로 우상향하는 것을 볼 수 있다. 즉, 국가 면적이 클수록 군사력이 크다고 볼 수 있다. </td>
                                                        <td><i class="bi bi-chat-dots-fill"></i> 이 그래프는 인구수와 군사력의 산점도로 우상향하는 것을 볼 수 있다. 즉, 인구수가 많을수록 군사력이 크다고 볼 수 있다.</td>

                                                    </tr>

                                                    </tr>
                                                </tbody>
                                            </table>
                                <table class="table" style="table-layout: fixed">
                                <thead>
                                                    <tr>
                                                        <th><i class="bi bi-bar-chart-fill"></i> 군사력과 다른 변수간의 상관관계</th>
                                                    </tr>
                                                </thead>
                                </table>
                                <div style="text-align : center;"><img src="{% static 'assets/images/samples/heatmap3.png' %}" align="center"></div>
                                <i class="bi bi-chat-dots-fill"></i><h7> 위에 산점도에서 보이는 것과 같이 국가 면적과 인구수는 군사력과 연관성이 있다. 하지만 군사력과 행복지수는 관련성이 적어보인다.<br></h7>
                                <br><table class="table" style="table-layout: fixed">
                                <thead>
                                                    <tr>
                                                        <th><i class="bi bi-bar-chart-fill"></i> 2021 행복지수 상위 10개국 군사력 vs 행복지수</th>
                                                    </tr>
                                                </thead>
                                </table>
                                {{ plot_div5 }}
                                <i class="bi bi-chat-dots-fill"></i><h7> 주제2의 info에서 제시된 히트맵에서 군사력과 행복 지수 간에 어느정도의 상관관계가 있다고 보았었다. 하지만 이는 행복지수가 높은 상위 10개의 국가에서만 나타나는 것이었다. 이 산점도를 보면 우상향하는 모습을 볼 수 있다. 하지만 Iceland와 Luxemburg는 상비군이 없거나 900명 정도에 불과해서 상관관계를 분석하기에 적합하지 않았고 나머지 나라들 모두가 gdp가 높은 국가들로 전체 국가를 대표한다고 할 수 없었다. 따라서 추가 분석을 진행해보았다.<br></h7>
                                <table class="table" style="table-layout: fixed">
                                                <thead>
                                                    <tr>
                                                        <th><i class="bi bi-bar-chart-fill"></i> 행복지수 높은 그룹에서의 군사력과 행복지수 상관관계</th>
                                                        <th><i class="bi bi-bar-chart-fill" ></i> 행복지수 낮은 그룹에서의 군사력과 행복지수 상관관계</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% autoescape off %}
                                                        <td>{{ plot_div6 }}</td>
                                                        <td>{{ plot_div7 }}</td>
                                                        {% endautoescape %}

                                                    </tr>
                                                    <tr>
                                                        <td><i class="bi bi-chat-dots-fill"></i> 이는 행복지수가 전체 행복지수의 평균에 비해 높은 그룹의 행복지수와 군사력의 상관관계를 보이는 산점도이다. 모든 점들이 고르게 분포되어 있기에 둘 사이의 상관관계는 없는 것으로 보인다. </td>
                                                        <td><i class="bi bi-chat-dots-fill"></i> 이는 행복지수가 전체 행복지수의 평균에 비해 낮은 그룹의 행복지수와 군사력의 상관관계를 보이는 산점도이다. 모든 점들이 고르게 분포되어 있기에 둘 사이의 상관관계는 없는 것으로 보인다.</td>

                                                    </tr>

                                                    </tr>
                                                </tbody>
                                            </table>
                                <br>
                                <h6>요약</h6>
                                <h7>위와 같은 이유들로 군사력은 행복지수와 관련성이 없다고 볼 수 있다. 대표적으로 두 나라를 비교해보자. 군사력 1위인 미국은 행복지수 순위도 19위로 높은 편에 속한다. 하지만 군사력 14위인 이란의 경우 행복지수 순위는 150개의 국가 중 118위로 매우 낮다고 볼 수 있다. 즉 전쟁을 위한 군사력인지 국민 보호를 위한 군사력인지 이 데이터를 통해서는 구분하기 힘들다.(참고하자면 우리나라는 군사력 6위, 행복지수 순위가 62위이다.) 행복지수와 국가 안보의 상관관계를 본다면 전쟁 횟수에 대한 데이터나 국내 사고 발생 횟수 데이터 등을 참고해야 할 것 같다.</h7>
                                {% endautoescape %}

                            </div>
                        </div>
                    </section>
                </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>